In [66]:
import pandas as pd
import numpy as np


data = {
    "name": ["rohit", "ankit", "priya", "prem", "pari", "nitesh"],
    "age": [21, 25, 26, 5, 4, 20]
}

df = pd.DataFrame(data) 
df.head(3)
df.describe()
df.index=["first","second","third","fourth","fifth","sixth"]
print(df)

          name  age
first    rohit   21
second   ankit   25
third    priya   26
fourth    prem    5
fifth     pari    4
sixth   nitesh   20

This is my first markdown.
pandas=>It is an open source data  analysis library.it leverages power of numpy to makes data processing and analysing easy.it provides easy and highly robust data operations.

now pandas has two types:
series:It one dimentional array with indexes it stores a single column or row of data in a dataframe.
dataframe:it a tabular spreadsheet like structure representing rows each of which contains one or multiple column.

In [67]:
ser=pd.Series(np.random.rand(6))
print(ser)
type(ser)

0    0.165384
1    0.061120
2    0.278511
3    0.706586
4    0.021313
5    0.986492
dtype: float64

pandas.core.series.Series

In [68]:
newdf = pd.DataFrame(
    np.random.rand(334, 5),   # 334 rows, 5 columns random numbers
    index=np.arange(334)      # Correct spelling: arange
)

print(newdf)
newdf.index
newdf.columns
print(newdf.T)
newdf

            0         1         2         3         4
0    0.719016  0.620692  0.472630  0.462765  0.721978
1    0.122288  0.471863  0.252271  0.500067  0.205236
2    0.889905  0.872302  0.755996  0.602192  0.661040
3    0.945641  0.779219  0.557194  0.512585  0.709711
4    0.520324  0.533476  0.790538  0.259725  0.076125
..        ...       ...       ...       ...       ...
329  0.710085  0.383764  0.684021  0.824658  0.132880
330  0.960539  0.922719  0.423921  0.794015  0.230459
331  0.311942  0.646732  0.419314  0.043964  0.150146
332  0.413718  0.805613  0.710273  0.854715  0.481953
333  0.362466  0.370391  0.408840  0.249186  0.099905

[334 rows x 5 columns]
        0         1         2         3         4         5         6    \
0  0.719016  0.122288  0.889905  0.945641  0.520324  0.420782  0.261127
1  0.620692  0.471863  0.872302  0.779219  0.533476  0.924568  0.650426
2  0.472630  0.252271  0.755996  0.557194  0.790538  0.452498  0.601157
3  0.462765  0.500067  0.602192  0.512585  0.259725  0.405840  0.574177
4  0.721978  0.205236  0.661040  0.709711  0.076125  0.216168  0.882858

        7         8         9    ...       324       325       326       327  \
0  0.636247  0.590970  0.360243  ...  0.496752  0.199885  0.660967  0.599120
1  0.266052  0.073694  0.397401  ...  0.578339  0.436410  0.948979  0.936699
2  0.239685  0.591497  0.513971  ...  0.651381  0.488040  0.537453  0.770270
3  0.919014  0.748646  0.068089  ...  0.741654  0.088302  0.518814  0.304447
4  0.076555  0.070462  0.859442  ...  0.244702  0.961703  0.008231  0.800218

        328       329       330       331       332       333
0  0.260204  0.710085  0.960539  0.311942  0.413718  0.362466
1  0.911100  0.383764  0.922719  0.646732  0.805613  0.370391
2  0.701170  0.684021  0.423921  0.419314  0.710273  0.408840
3  0.677682  0.824658  0.794015  0.043964  0.854715  0.249186
4  0.083570  0.132880  0.230459  0.150146  0.481953  0.099905

[5 rows x 334 columns]

            0         1         2         3         4
0    0.719016  0.620692  0.472630  0.462765  0.721978
1    0.122288  0.471863  0.252271  0.500067  0.205236
2    0.889905  0.872302  0.755996  0.602192  0.661040
3    0.945641  0.779219  0.557194  0.512585  0.709711
4    0.520324  0.533476  0.790538  0.259725  0.076125
..        ...       ...       ...       ...       ...
329  0.710085  0.383764  0.684021  0.824658  0.132880
330  0.960539  0.922719  0.423921  0.794015  0.230459
331  0.311942  0.646732  0.419314  0.043964  0.150146
332  0.413718  0.805613  0.710273  0.854715  0.481953
333  0.362466  0.370391  0.408840  0.249186  0.099905

[334 rows x 5 columns]

In [69]:
newdf.head()

          0         1         2         3         4
0  0.719016  0.620692  0.472630  0.462765  0.721978
1  0.122288  0.471863  0.252271  0.500067  0.205236
2  0.889905  0.872302  0.755996  0.602192  0.661040
3  0.945641  0.779219  0.557194  0.512585  0.709711
4  0.520324  0.533476  0.790538  0.259725  0.076125

In [70]:
newdf.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.721978  0.462765  0.472630  0.620692  0.719016
1    0.205236  0.500067  0.252271  0.471863  0.122288
2    0.661040  0.602192  0.755996  0.872302  0.889905
3    0.709711  0.512585  0.557194  0.779219  0.945641
4    0.076125  0.259725  0.790538  0.533476  0.520324
..        ...       ...       ...       ...       ...
329  0.132880  0.824658  0.684021  0.383764  0.710085
330  0.230459  0.794015  0.423921  0.922719  0.960539
331  0.150146  0.043964  0.419314  0.646732  0.311942
332  0.481953  0.854715  0.710273  0.805613  0.413718
333  0.099905  0.249186  0.408840  0.370391  0.362466

[334 rows x 5 columns]

In [71]:
newdf.head()

          0         1         2         3         4
0  0.719016  0.620692  0.472630  0.462765  0.721978
1  0.122288  0.471863  0.252271  0.500067  0.205236
2  0.889905  0.872302  0.755996  0.602192  0.661040
3  0.945641  0.779219  0.557194  0.512585  0.709711
4  0.520324  0.533476  0.790538  0.259725  0.076125

In [72]:
newdf[0]
type(newdf[0])

pandas.core.series.Series

In [73]:
newdf.head()

          0         1         2         3         4
0  0.719016  0.620692  0.472630  0.462765  0.721978
1  0.122288  0.471863  0.252271  0.500067  0.205236
2  0.889905  0.872302  0.755996  0.602192  0.661040
3  0.945641  0.779219  0.557194  0.512585  0.709711
4  0.520324  0.533476  0.790538  0.259725  0.076125

In [74]:
newdf2=newdf
newdf2[0][0]=9783

C:\Users\user\AppData\Local\Temp\ipykernel_19072\1268792318.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf2[0][0]=9783

In [75]:
newdf

               0         1         2         3         4
0    9783.000000  0.620692  0.472630  0.462765  0.721978
1       0.122288  0.471863  0.252271  0.500067  0.205236
2       0.889905  0.872302  0.755996  0.602192  0.661040
3       0.945641  0.779219  0.557194  0.512585  0.709711
4       0.520324  0.533476  0.790538  0.259725  0.076125
..           ...       ...       ...       ...       ...
329     0.710085  0.383764  0.684021  0.824658  0.132880
330     0.960539  0.922719  0.423921  0.794015  0.230459
331     0.311942  0.646732  0.419314  0.043964  0.150146
332     0.413718  0.805613  0.710273  0.854715  0.481953
333     0.362466  0.370391  0.408840  0.249186  0.099905

[334 rows x 5 columns]

In [76]:
newdf.loc[0,1]=2
newdf.head(2)
newdf

               0         1         2         3         4
0    9783.000000  2.000000  0.472630  0.462765  0.721978
1       0.122288  0.471863  0.252271  0.500067  0.205236
2       0.889905  0.872302  0.755996  0.602192  0.661040
3       0.945641  0.779219  0.557194  0.512585  0.709711
4       0.520324  0.533476  0.790538  0.259725  0.076125
..           ...       ...       ...       ...       ...
329     0.710085  0.383764  0.684021  0.824658  0.132880
330     0.960539  0.922719  0.423921  0.794015  0.230459
331     0.311942  0.646732  0.419314  0.043964  0.150146
332     0.413718  0.805613  0.710273  0.854715  0.481953
333     0.362466  0.370391  0.408840  0.249186  0.099905

[334 rows x 5 columns]

In [77]:
newdf=newdf.drop(0,axis=0)
newdf.head()

          0         1         2         3         4
1  0.122288  0.471863  0.252271  0.500067  0.205236
2  0.889905  0.872302  0.755996  0.602192  0.661040
3  0.945641  0.779219  0.557194  0.512585  0.709711
4  0.520324  0.533476  0.790538  0.259725  0.076125
5  0.420782  0.924568  0.452498  0.405840  0.216168

In [78]:
newdf.loc [[1,2],[3,4]]

          3         4
1  0.500067  0.205236
2  0.602192  0.661040

In [79]:
newdf.head()

          0         1         2         3         4
1  0.122288  0.471863  0.252271  0.500067  0.205236
2  0.889905  0.872302  0.755996  0.602192  0.661040
3  0.945641  0.779219  0.557194  0.512585  0.709711
4  0.520324  0.533476  0.790538  0.259725  0.076125
5  0.420782  0.924568  0.452498  0.405840  0.216168

In [80]:
newdf.loc[:,[3,4]]

            3         4
1    0.500067  0.205236
2    0.602192  0.661040
3    0.512585  0.709711
4    0.259725  0.076125
5    0.405840  0.216168
..        ...       ...
329  0.824658  0.132880
330  0.794015  0.230459
331  0.043964  0.150146
332  0.854715  0.481953
333  0.249186  0.099905

[333 rows x 2 columns]

In [81]:
newdf

            0         1         2         3         4
1    0.122288  0.471863  0.252271  0.500067  0.205236
2    0.889905  0.872302  0.755996  0.602192  0.661040
3    0.945641  0.779219  0.557194  0.512585  0.709711
4    0.520324  0.533476  0.790538  0.259725  0.076125
5    0.420782  0.924568  0.452498  0.405840  0.216168
..        ...       ...       ...       ...       ...
329  0.710085  0.383764  0.684021  0.824658  0.132880
330  0.960539  0.922719  0.423921  0.794015  0.230459
331  0.311942  0.646732  0.419314  0.043964  0.150146
332  0.413718  0.805613  0.710273  0.854715  0.481953
333  0.362466  0.370391  0.408840  0.249186  0.099905

[333 rows x 5 columns]

In [82]:
# if your columns are integers
newdf.drop([2, 3], axis=0, inplace=True)
newdf

            0         1         2         3         4
1    0.122288  0.471863  0.252271  0.500067  0.205236
4    0.520324  0.533476  0.790538  0.259725  0.076125
5    0.420782  0.924568  0.452498  0.405840  0.216168
6    0.261127  0.650426  0.601157  0.574177  0.882858
7    0.636247  0.266052  0.239685  0.919014  0.076555
..        ...       ...       ...       ...       ...
329  0.710085  0.383764  0.684021  0.824658  0.132880
330  0.960539  0.922719  0.423921  0.794015  0.230459
331  0.311942  0.646732  0.419314  0.043964  0.150146
332  0.413718  0.805613  0.710273  0.854715  0.481953
333  0.362466  0.370391  0.408840  0.249186  0.099905

[331 rows x 5 columns]

In [83]:
newdf.reset_index( drop=True, inplace=True)
newdf

            0         1         2         3         4
0    0.122288  0.471863  0.252271  0.500067  0.205236
1    0.520324  0.533476  0.790538  0.259725  0.076125
2    0.420782  0.924568  0.452498  0.405840  0.216168
3    0.261127  0.650426  0.601157  0.574177  0.882858
4    0.636247  0.266052  0.239685  0.919014  0.076555
..        ...       ...       ...       ...       ...
326  0.710085  0.383764  0.684021  0.824658  0.132880
327  0.960539  0.922719  0.423921  0.794015  0.230459
328  0.311942  0.646732  0.419314  0.043964  0.150146
329  0.413718  0.805613  0.710273  0.854715  0.481953
330  0.362466  0.370391  0.408840  0.249186  0.099905

[331 rows x 5 columns]

In [84]:
newdf[1].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
326    False
327    False
328    False
329    False
330    False
Name: 1, Length: 331, dtype: bool

In [85]:
newdf.loc[:,1]=56
newdf

            0     1         2         3         4
0    0.122288  56.0  0.252271  0.500067  0.205236
1    0.520324  56.0  0.790538  0.259725  0.076125
2    0.420782  56.0  0.452498  0.405840  0.216168
3    0.261127  56.0  0.601157  0.574177  0.882858
4    0.636247  56.0  0.239685  0.919014  0.076555
..        ...   ...       ...       ...       ...
326  0.710085  56.0  0.684021  0.824658  0.132880
327  0.960539  56.0  0.423921  0.794015  0.230459
328  0.311942  56.0  0.419314  0.043964  0.150146
329  0.413718  56.0  0.710273  0.854715  0.481953
330  0.362466  56.0  0.408840  0.249186  0.099905

[331 rows x 5 columns]

In [86]:
df.dropna()
newdf

            0     1         2         3         4
0    0.122288  56.0  0.252271  0.500067  0.205236
1    0.520324  56.0  0.790538  0.259725  0.076125
2    0.420782  56.0  0.452498  0.405840  0.216168
3    0.261127  56.0  0.601157  0.574177  0.882858
4    0.636247  56.0  0.239685  0.919014  0.076555
..        ...   ...       ...       ...       ...
326  0.710085  56.0  0.684021  0.824658  0.132880
327  0.960539  56.0  0.423921  0.794015  0.230459
328  0.311942  56.0  0.419314  0.043964  0.150146
329  0.413718  56.0  0.710273  0.854715  0.481953
330  0.362466  56.0  0.408840  0.249186  0.099905

[331 rows x 5 columns]

In [3]:
import pandas as pd

data = {
    "name": ["rohit", "ankit", "priya", "ankit", None, "rohit"],
    "age": [21, 25, 26, 25, 4, 21],
    "city": ["Delhi", "Jaipur", "Mumbai", "Jaipur", None, "Delhi"]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
    name  age    city
0  rohit   21   Delhi
1  ankit   25  Jaipur
2  priya   26  Mumbai
3  ankit   25  Jaipur
4   None    4    None
5  rohit   21   Delhi

In [2]:
df_unique = df.drop_duplicates(subset=["name", "age"])
print(df_unique)

    name  age    city
0  rohit   21   Delhi
1  ankit   25  Jaipur
2  priya   26  Mumbai
4   pari    4    Pune

In [4]:
df.isnull()

    name    age   city
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4   True  False   True
5  False  False  False